name: test01_workflow

on: push

jobs:
  build_and_output_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: g++ -std=c++17 -Wall -Werror *.cpp
      - name: Make test_01.sh executable
        run: chmod +x ./test_01.sh      
      - name: Run test_01.sh
        run: ./test_01.sh
      - name: Diff
        run: diff output.txt expected_output.txt
        

  code_analysis:     
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: g++ -std=c++17 *.cpp
      - name: Make *.sh files executable
        run: chmod +x ./*.sh     

      - name: Install valgrind
        run: sudo apt-get install valgrind
      - name: Check Leaks
        run: valgrind --leak-check=full --error-exitcode=1 --log-file=memory_leaks.txt ./a.out units/unit1.json units/unit2.json

      - name: Install cppcheck
        run: sudo apt-get install cppcheck
      - name: Run test_check_warnings.sh
        run: ./test_check_warnings.sh

      - name: Run test_style_and_performance.sh
        run: ./test_style_and_performance.sh

        