name: test01_workflow

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: g++ -std=c++17 *.cpp
      - name: Make test_01.sh executable
        run: chmod +x ./test_01.sh      
      - name: Run test_01.sh
        run: ./test_01.sh
      - name: Diff2
        run: diff output.txt expected_output.txt
        

      - name: Install cppcheck
        run: sudo apt-get install cppcheck
      - name: Make test_check_warnings.sh executable
        run: chmod +x ./test_check_warnings.sh
      - name: Run test_check_warnings.sh
        run: ./test_check_warnings.sh

        